body {
    margin: 0;
    background: #352f5b;
    color: #fff;
    overflow-x: hidden;
}

.container {
    margin: 20px auto;
}

header {
    margin: 0 auto;
}

.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
}

.search-results > * {
    flex-basis: 20rem;
    flex-shrink: 0;
}

.search-results .card {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 1%;
}

.search-results .card > .card-content{
    flex-grow: 1;
}

.search-results .card > .card-image {
    flex-basis: 25rem;
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: grey;
}

.card-text {
    max-height: 300px;
    overflow-y: scroll;
}

.card-body {
    padding: 1rem;
}

.btn {
    background-color: #352f5b;
}

.card-title {
    margin-bottom: 6px; 
}

.title-english {
    margin-bottom: 12px; 
}
